<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        NewsAgent Dashboard
    </title>
    <!-- Favicon -->
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet"/>
    <link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="/assets/css/argon-dashboard.css?v=1.1.1" rel="stylesheet"/>
</head>

<body class="">
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="../index.html">
            <img src="/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="ni ni-bell-55"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                     aria-labelledby="navbar-default_dropdown_1">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/assets/img/theme/team-1-800x800.jpg
">
              </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <a th:href="@{/logout}" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="../index.html">
                            <img src="/assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/admin/home}">
                        <i class="ni ni-tv-2 text-primary"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" th:href="@{/admin/view-delivery-persons}">
                        <i class="ni ni-circle-08 text-pink"></i> Delivery Persons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/view-route}">
                        <i class="ni ni-pin-3 text-pink"></i> Routes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/view-products}">
                        <i class="ni ni-app"></i> Products
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">Edit Delivery Person</a>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/assets/img/theme/team-4-800x800.jpg">
                </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                  <span
                          th:if="${user}"
                          th:inline="text"
                          class="mb-0 text-sm  font-weight-bold"
                  >
                      [[${user.username}]]
                  </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <a th:href="@{/logout}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="card shadow">
            <div class="card-body">
                <div th:if="${error}"
                     th:inline="text" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text"><strong>Error !</strong> [[${error}]]</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${success}"
                     th:inline="text" class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text"><strong>Success !</strong> [[${success}]]</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/edit-delivery-persons" method="post">
                    <div class="form-group">
                        <label for="input-id" class="form-control-label">DP Id</label>
                        <input class="form-control" th:value="${dp.id}" type="text" value="" name="username"
                               placeholder="Enter Username"
                               id="input-id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="input-username" class="form-control-label">Username</label>
                        <input class="form-control" th:value="${dp.user.username}" type="text" value="" name="username"
                               placeholder="Enter Username"
                               id="input-username">
                    </div>
                    <div class="form-group">
                        <label for="input-full-name" class="form-control-label">Full Name</label>
                        <input class="form-control" th:value="${dp.fullName}" type="text" name="full-name"
                               placeholder="Enter Full Name"
                               id="input-full-name">
                    </div>
                    <div class="form-group">
                        <label for="input-phone-no" class="form-control-label">Phone No</label>
                        <input class="form-control" th:value="${dp.phoneNumber}" type="number" name="phone-no"
                               placeholder="Enter Phone No"
                               id="input-phone-no">
                    </div>
                    <div class="form-group">
                        <label for="input-password" class="form-control-label">Password</label>
                        <input class="form-control" th:value="${dp.user.password}" type="text" name="password"
                               placeholder="Enter Password"
                               id="input-password">
                    </div>
                    <div th:if="${routesAvailable}" class="form-group">
                        <label for="input-route" class="form-control-label">Delivery Area</label>
                        <select class="form-control" id="input-route" name="routeSelected">
                            <option th:each="route : ${routesAvailable}" th:value="${route.id}" th:text="${route.name}"
                                    th:selected="${route == dp.route.name}">
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Edit Delivery Person</button>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <footer class="py-5">
            <div class="container">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2020
                            <a
                                    href="https://www.github.com/adityastic/NewspaperDeliverySystem"
                                    class="font-weight-bold ml-1"
                                    target="_blank"
                            >LAQR</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</div>
<!--   Core   -->
<script src="/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/assets/js/argon-dashboard.min.js?v=1.1.1"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });












</script>
</body>

</html>