<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <title>
        Delivery Person Dashboard
    </title>
    <!-- Favicon -->
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png"/>
    <!-- Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
            rel="stylesheet"
    />
    <!-- Icons -->
    <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet"/>
    <link
            href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css"
            rel="stylesheet"
    />
    <!-- CSS Files -->
    <link href="/assets/css/argon-dashboard.css?v=1.1.1" rel="stylesheet"/>
</head>

<body class="">
<div class="main-content">
    <!-- Navbar -->
    <nav
            class="navbar navbar-top navbar-expand-md navbar-dark"
            id="navbar-main"
    >
        <div class="container-fluid">
            <!-- Brand -->
            <div class="container px-4">
                <a class="navbar-brand" href="../index.html">
                    <img src="/assets/img/brand/white.png" width="150px"/>
                </a>
            </div>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a
                            aria-expanded="false"
                            aria-haspopup="true"
                            class="nav-link pr-0"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                    >
                        <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img
                            alt="Image placeholder"
                            src="/assets/img/theme/team-4-800x800.jpg"
                    />
                  </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                    <span
                            class="mb-0 text-sm  font-weight-bold"
                            th:if="${user}"
                            th:inline="text"
                    >
                      [[${user.username}]]
                    </span>
                            </div>
                        </div>
                    </a>
                    <div
                            class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                    >
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">
                                            Print
                                        </h5>
                                        <span class="h2 font-weight-bold mb-0">Tasks</span>
                                    </div>
                                    <div class="col-auto">
                                        <div
                                                class="icon icon-shape bg-info text-white rounded-circle shadow"
                                        >
                                            <i class="fas fa-percent"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                                  <span class="text-success mr-2"
                                    ><i class="fas fa-arrow-up"></i> 12%</span
                                  >
                                  <span class="text-nowrap">Since last month</span>
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Tasks</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Budget</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> pending
                        </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core   -->
<script src="/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/assets/js/argon-dashboard.min.js?v=1.1.1"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
    TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
    });
</script>
</body>
</html>
