<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>
    Login
  </title>
  <!-- Favicon -->
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png" />
  <!-- Fonts -->
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          rel="stylesheet"
  />
  <!-- Icons -->
  <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link
          href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css"
          rel="stylesheet"
  />
  <!-- CSS Files -->
  <link href="/assets/css/argon-dashboard.css?v=1.1.1" rel="stylesheet" />
</head>

<body class="bg-default">
<div class="main-content">
  <!-- Navbar -->
  <nav
          class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark"
  >
    <div class="container px-4">
      <a class="navbar-brand" th:href="@{/}">
        <img src="/assets/img/brand/white.png" />
      </a>
    </div>
  </nav>
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Login</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
              x="0"
              y="0"
              viewBox="0 0 2560 100"
              preserveAspectRatio="none"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
                class="fill-default"
                points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form" action="/login" method="post">
                <div
                        th:if="${error}"
                        th:inline="text"
                        class="alert alert-danger"
                        role="alert"
                >
                  <strong>Invalid Credentials !</strong> [[${error}]]
                </div>
                <div
                        th:if="${success}"
                        th:inline="text"
                        class="alert alert-success"
                        role="alert"
                >
                  <strong>Success !</strong> [[${success}]]
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text"
                          ><i class="ni ni-hat-3"></i
                          ></span>
                    </div>
                    <input
                            class="form-control"
                            placeholder="Username"
                            type="text"
                            name="username"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                          <span class="input-group-text"
                          ><i class="ni ni-lock-circle-open"></i
                          ></span>
                    </div>
                    <input
                            class="form-control"
                            placeholder="Password"
                            type="password"
                            name="password"
                    />
                  </div>
                </div>
                <div class="text-muted font-italic"><small><a class="font-weight-700" th:href="@{/forgotPassword}">Forgot Password</a></small></div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020
            <a
                    href="https://www.github.com/adityastic/NewspaperDeliverySystem"
                    class="font-weight-bold ml-1"
                    target="_blank"
            >LAQR</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!--   Core   -->
<script src="/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/assets/js/argon-dashboard.min.js?v=1.1.1"></script>
</body>
</html>